# syntax, formatting, standards for linting Python code using GitHub Actions
name: Code Linting

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install flake8 black isort

      - name: Run Flake8
        run: flake8 .

      - name: Run Black (check mode)
        run: black --check .

      - name: Run isort (check mode)
        run: isort . --check-only

      - name: Lint code
        run: make lint
